* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$device-width: 950px;
$large-device: 1300px;
$grey: #8a8a8a;
$font-size-small: 14px;
$normal-font-size: 18px;

@font-face {
  font-family: "Baskier Circle";
  src: url("/basier-font.woff2") format(woff2);
  font-display: swap;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

html,
body {
  width: 100%;
  overflow: hidden;
}

main {
  display: grid;
  --bg-1: #292929;
  --bg-2: #141414;
  background: linear-gradient(108.18deg, var(--bg-1) 2.46%, var(--bg-2) 99.84%);
  color: white;
  height: 100vh;
  grid-template-columns: repeat(1, 1fr);
  font-family: "Baskier Circle";
  transition: 0.3s linear;

  @media (min-width: $device-width) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: $large-device) {
    grid-template-columns: repeat(10, 1fr);
  }
}

// styling for the include & other variables
@mixin flexBox($direction, $gap, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexBox2($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

aside {
  @include flexBox(column, 0, start, space-between);
  height: fit-content;

  @media (min-width: $device-width) {
    height: 100%;
    padding: 40px;
    grid-column: span 1;
  }

  @media (min-width: $large-device) {
    grid-column: span 2;
  }

  & > img {
    display: none;
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid $grey;

    @media (min-width: $device-width) {
      display: block;
    }
  }

  header {
    @include flexBox(column, 30px, start, start);
    width: 100%;

    .logo--img {
      width: auto;
      display: none;
      height: 40px;
      object-fit: cover;

      @media (min-width: $device-width) {
        display: block;
      }
    }

    nav {
      width: 100%;

      ul {
        $direction: row;
        list-style: none;
        width: 100%;
        @include flexBox($direction, 0px, start, space-between);
        font-size: $font-size-small;

        @media (min-width: $device-width) {
          flex-direction: column;
          gap: 20px;
        }

        @media (min-width: $large-device) {
          font-size: $normal-font-size;
        }

        li {
          flex-grow: 1;
          flex-shrink: 0;
          text-align: center;
          padding: 10px 0;
          border: 1px solid $grey;
          color: $grey;
          cursor: pointer;
          transition: color 0.3s linear, border 0.5s ease;

          &.active {
            color: white;
            border-color: white;
          }

          &:hover {
            color: white;
            border-color: white;
          }

          @media (min-width: $device-width) {
            padding: 0;
            border: none;
            text-align: left;
          }
        }
      }
    }
  }
}

.music--wrapper {
  overflow-y: auto;
  @include flexBox(column, 30px, start, start);
  width: 100%;
  position: fixed;
  height: 95.1%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  background: linear-gradient(108.18deg, var(--bg-1) 2.46%, var(--bg-2) 99.84%);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 30px 20px;

  &.show {
    transform: translateY(0);
  }

  .menu--btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: white;
    &:hover {
      color: #ccc;
    }
    @media (min-width: $device-width) {
      display: none;
    }
  }

  @media (min-width: $device-width) {
    position: static;
    height: 100%;
    transform: translateY(0);
    grid-column: span 2;
    background: none;
    padding: 40px 20px;
  }

  @media (min-width: $large-device) {
    grid-column: span 3;
  }

  .music--search {
    position: relative;
    width: 100%;

    input {
      display: flex;
      padding: 14px 10px;
      border-radius: 8px;
      background: transparent;
      border: 1px solid $grey;
      color: #fff;
      font-size: 14px;
      width: 100%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $grey;
      }
    }

    span {
      position: absolute;
      top: 50%;
      color: $grey;
      transform: translateY(-50%);
      right: 10px;
      font-size: 16px;
    }
  }

  .empty--list {
    flex: 1;
    height: inherit;
    width: 100%;
    @include flexBox(row, 0, center, center);
    p {
      font-size: 16px;
    }
  }

  .music--container {
    overflow-y: auto;
    padding: 10px 10px 10px 0;
    height: 100%;

    &::-webkit-scrollbar {
      background: transparent;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(182, 181, 181);
      display: none;
      border-radius: 8px;
    }

    &:hover::-webkit-scrollbar-thumb {
      opacity: 1;
      display: block;
    }

    @include flexBox(column, 10px, start, start);
    width: 100%;

    .music--comp {
      @include flexBox(row, 0, center, space-between);
      width: 100%;
      padding: 16px;
      border-radius: 12px;
      cursor: pointer;
      transition: background-color 0.3s linear;

      &.active {
        background: rgba(255, 255, 255, 0.1);
      }

      &:hover {
        background-color: #ffffff28;
      }

      .duration {
        font-size: $normal-font-size;
        @media (min-width: $device-width) {
          font-size: $font-size-small;
        }
        @media (min-width: $large-device) {
          font-size: $normal-font-size;
        }
      }

      .music--info {
        @include flexBox(row, 16px, center, center);

        .music--art {
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 50%;
          @media (min-width: $device-width) {
            width: 35px;
            height: 35px;
          }

          @media (min-width: $large-device) {
            width: 48px;
            height: 48px;
          }
        }

        .music--detail {
          @include flexBox(column, 5px, start, start);

          h2 {
            font-size: 18px;
            @media (min-width: $device-width) {
              font-size: 14px;
            }

            @media (min-width: $large-device) {
              font-size: 18px;
            }
          }

          p {
            font-size: 14px;
            color: $grey;
          }
        }
      }
    }
  }
}

.music--player {
  width: 100%;
  height: inherit;
  padding: 30px;
  @include flexBox(row, 0, center, center);

  @media (min-width: $device-width) {
    grid-column: span 3;
  }

  @media (min-width: $large-device) {
    grid-column: span 5;
  }

  .music--container {
    width: clamp(350px, 90%, 450px);
    @include flexBox2(column, 40px);

    .song--header {
      @include flexBox2(column, 10px);
      h3 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
        color: $grey;
      }
    }

    .player--wrapper {
      @include flexBox2(column, 30px);
      width: 100%;

      & > img {
        width: 100%;
        height: 450px;
        border-radius: 8px;
        @media (min-width: $device-width) {
          height: 400px;
        }

        @media (min-width: $large-device) {
          height: 450px;
        }
      }

      .progress--bar {
        width: 100%;
        @include flexBox2(column, 16px);

        input[type="range"] {
          --background-size: 0%;
          -webkit-appearance: none;
          appearance: none;
          background: rgba(255, 255, 255, 0.2);
          background-image: linear-gradient(135deg, #f785da, #8cd4f5);
          background-size: var(--background-size) 100%;
          background-repeat: no-repeat;
          height: 0.4rem;
          cursor: pointer;
          border-radius: 5px;
          width: 100%;

          &::-webkit-slider-runnable-track {
            appearance: none;
            background: transparent;
            border-radius: 20px;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            cursor: ew-resize;
            background: #cecbca;
            height: 18px;
            width: 18px;
            transition: 0.3s linear;
            border-radius: 50%;
          }
        }

        .song--duration--container {
          @include flexBox(row, 0, center, space-between);

          p {
            font-size: 15px;
            color: white;
            font-weight: 500;
          }
        }
      }

      .song--controls {
        @include flexBox(row, 0, center, space-between);

        .song--playback {
          @include flexBox(row, 12px, center, start);

          .control--btn {
            @include flexBox(row, 0, center, center);
            width: 48px;
            height: 48px;
            font-size: 30px;
            color: $grey;
            transition: 0.3s linear;

            &:hover {
              color: white;
            }

            background: none;

            &.play--btn {
              background: white;
              border-radius: 50%;
              color: black;

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

.action--wrapper {
  position: relative;

  .action--btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 24px;
    color: #cccccc;
    background: rgba(255, 255, 255, 0.16);
    transition: 0.3s linear;

    &:hover {
      background: rgba(255, 255, 255, 0.21);
    }
  }

  .favorite--btn {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background: transparent;
    $red: #f3117b;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid $grey;
    color: $grey;
    transition: 0.3s linear;

    &.favorite {
      border-color: $red;
      color: $red;
    }

    &:hover {
      border-color: $red;
      color: $red;
    }
  }

  .volume--btn {
    @include flexBox(row, 0, center, center);
    $red: #f3117b;
    position: absolute;
    transform: translateX(-50%);
    top: 55px;
    left: 50%;
    width: 130px;
    height: 40px;
    background: transparent;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid $grey;
    color: $grey;
    transition: 0.3s linear;

    &:hover {
      border-color: $red;
    }

    input {
      width: 100%;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
